:root {
    --beige: #F4E3C5;
    --green: #38603E;
    --orange: #F3B143;
    --pink: #ED94B2;
    --red: #C76642;
}



@font-face {
  font-family: siyuan;
  src: url(siyuan/SiYuanHeiTi-CN-VF/SourceHanSansCN-VF-2.otf);
}







* {
    /* outline: black solid 1px; */

    /* border: 1px solid black; */
    font-family:'siyuan';
    font-weight: 500;
    /* color: var(--main); */
    /* color: black; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}


body{
    margin: 0;
    font-size: 16px;
    
    background-color: var(--beige);
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    gap: 0;
    
}




header{
    width: 100%;
    /* left: 0; */
    /* top: 0; */
    /* height: 90px; */
    /* padding: 10px; */

    /* position: sticky; */
    /* z-index: 10; */
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
}


footer{
    width: 100%;
    /* left: 0; */
    /* bottom: 80px; */
    height: 260px;
    padding: 60px;
    padding-top: 30px;
    /* translate: 0 -5px; */

    /* position: sticky; */
    /* z-index: 10; */
    background-color: var(--orange);
}



h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

h3{
    /* font-size: 40px; */
    font-weight: bold;
    margin-bottom: 20px;
}


.beige {
    color: var(--beige);
}

.orange {
    color: var(--orange);
}

.green {
    color: var(--green);
}

.pink {
    color: var(--pink);
}

.red {
    color: var(--red);
}


.green_back {
    background-color: var(--green);
}



.header_red {
    height: 50px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    /* border: 1px solid black; */
}



.header_red a p {
    color: var(--beige);
    /* padding: 10px; */
    font-size: 15px;
    font-weight: 200;
}

.header_image {
    width: 35px;
    margin: 5px;
}




.text-outline{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



.full_image{
    width: 100%;
}



.category_images {
    /* width: 300px; */
    /* transition: transform 0.8s, scale 0.8s ease 0.1s; */
    /* transform-style: preserve-3d; */
    display: flex;
    justify-content: center;
    width: 300px;
    perspective: 1000px;

    transition: width 0.5s ease 0.2s;
}

.category_images img {
    width: 300px;
    transition: transform 0.8s ease 0.1s, scale 0.8s ease 0.2s, width 0.5s;
    /* transform-style: preserve-3d; */
    
}


.category_images:hover {
    /* z-index: 1; */
    width: 420px;
}

.category_images:hover img {
    transform: rotateY(360deg);
    /* transform: scale(1.1); */
    /* scale: 1.2; */
    width: 360px;
}



.best_box{
    background-color: var(--beige);
    height: 280px;
    width: 180px;
    border-radius: 15px;
    border: 2px solid var(--red);
    transition: rotate 0.2s ease 0.1s, scale 0.2s ease 0.05s;
}


.best_box:hover {
    rotate: -7deg;
    scale: 1.08
}



.best_button {
    background-color: var(--green);
    border: 2px solid var(--beige);
    color: var(--beige);

    font-size: 20px;
    border-radius: 30px;
    padding: 3px;
    width: 150px;
    text-align: center;

    transition-property: background-color color;
	transition-duration: 0.2s;
}


.best_button:hover {
    color: var(--green);
    background-color: var(--beige);
}



.search{
    background-color: var(--beige);
    width: 400px;
    height: 25px;
    border-radius: 30px;
    margin-bottom: 50px;

}








.button {
    /* background-color: var(--green); */
    border: 2px solid var(--beige);
    color: var(--red);

    font-size: 20px;
    border-radius: 30px;
    padding: 3px;
    width: 150px;
    text-align: center;

    transition-property: background-color color;
	transition-duration: 0.2s;
}




.button2 {
    /* background-color: var(--green); */
    border: 2px solid var(--red);
    color: var(--red);

    font-size: 15px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;

    transition-property: background-color color;
	transition-duration: 0.2s;
}

.button3 {
    background-color: var(--red);
    /* border: 2px solid var(--red); */
    color: var(--beige);

    font-size: 15px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
    text-align: center;

    transition-property: background-color color;
	transition-duration: 0.2s;
}


.color_button {
    /* background-color: var(--red); */
    border: 2px solid var(--red);
    border-radius: 50px;
    margin: 2px;

    width: 30px;
    height: 30px;


    transition-property: background-color color;
	transition-duration: 0.2s;
}