<head>
    <link rel="stylesheet" href="../static/css/index.css">
</head>


{% extends "base.html" %}

{% block title %}Add Item - U·PICK{% endblock %}

{% block content %}

    <section class="form_section">
        <div class="red form_div">
            <h1>ADD ITEM</h1>
            <form action="/confirm-add" method="POST" class="form" enctype="multipart/form-data">

                <p class="light_text form_text1">SKU</p>
                <input class="input_box red" type="text" name="itemid" required>

                <p class="light_text form_text2">NAME</p>
                <input class="input_box red" type="text" name="name" required>

                <p class="light_text form_text2">PRICE</p>
                <input class="input_box red" type="text" name="price">

                <p class="light_text form_text2">DETAILS</p>
                <textarea class="input_box red" type="text" name="details" rows = "8" cols="10"></textarea>

                <p class="light_text form_text2">LINK</p>
                <input class="input_box red" type="text" name="link">

                <p class="light_text form_text2">CATEGORY</p>
                <input class="input_box red" type="text" name="category">

                <p class="light_text form_text2">IMAGE</p>
                <input class="input_box red" type="file" name="image" accept=".jpg,.png,.jpeg,.webp">

                <input class="input_submit light_text" type="submit" value="ADD" />
            </form>
            
        </div>
    </section>

{% endblock %}