<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <div>
            <a class="red" href="index.html" style="
                    text-align: center;
                ">
                <p style="
                    font-size: 40px;
                    font-weight:1000;
                    margin-left: 20px;
                ">U·PICK</p>
            </a>
            <div style="
                position: absolute;
                top: 6px;
                right: 30px;
                height: 50px;
            ">
                <a href="">
                    <img src="../images/Group 46.png" alt="" class="header_image">
                </a>
                <a href="">
                    <img src="../images/Group 47.png" alt="" class="header_image">
                </a>
                <a href="">
                    <img src="../images/Group 45.png" alt="" class="header_image">
                </a>
            </div>
        </div>
        <div class="header_red">
            <a href="">
                <p>Home</p>
            </a>
            <a href="">
                <p>Gift</p>
            </a>
            <a href="">
                <p>Wearable</p>
            </a>
            <a href="">
                <p>Scripts</p>
            </a>
            <a href="">
                <p>Sale</p>
            </a>
        </div>
    </header>

    <section id="home" class="" style="height: 500px;">
        <div style="
            display: flex;
            justify-content: center;
            margin-top: 20px;
        " class="red">
            <div style="
                width: 400px;
                display: flex;
                justify-content: right;
            ">
                <div style="
                    width: 350px;
                    height: 350px;
                    background-color: rgb(195, 195, 195);

                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                ">
                    <img src="../images/导航页.png" alt="item image">
                </div>
            </div>
            <div style="
                padding-left: 20px;
                width: 400px;
            ">
                <h3>{{item.name}}</h3>
                <p style="font-size: 25px;">${{item.price}}</p>
                <hr style="border-top: 1px solid #C76642;">
                <p style="margin-top: 10px;">Style</p>
                <div style="margin-top: 10px;">
                    <a href="" class="button2 red">Mug</a>
                    <a href="" class="button2 red">Camdle</a>
                </div>
                <p style="margin-top: 20px;">Colour</p>
                <div style="margin-top: 10px;">
                    <button class="color_button"></button>
                    <button class="color_button"></button>
                </div>

                <p style="margin-top: 20px;">Quantity</p>
                <div class="button2" style="
                    width: 80px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                ">
                    <p>-</p>
                    <p>1</p>
                    <p>+</p>
                </div>

                <div style="
                margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                ">
                    <a href="" class="button2 red_back beige" style="width: 200px;">ADD TO CART</a>
                    <a href="" class="button2 red" style="width: 200px;">BUY IT</a>
                </div>
            </div>
        </div>
    </section>

    <section id="bestSellers" class="">
        <div style="
            padding: 50px;
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* outline: red solid 1px; */
        ">
            <img src="../images/wave.png" alt="" class="full_image" style="
                position: absolute;
                z-index: -1;
                pointer-events: none;
            ">
            <img src="../images/详情页底图页 1.png" alt="" class="full_image" style="
                position: absolute;
                z-index: -1;
                pointer-events: none;
            ">
            <h2 class="beige" style="margin-top: 8vw;">YOU MAY ALSO LIKE</h2>
            <div style="
                display: flex;
                gap: 30px;
                /* outline: 1px black solid; */
            ">
                <div class="best_box"></div>
                <div class="best_box"></div>
                <div class="best_box"></div>
                <div class="best_box"></div>
                <div class="best_box"></div>
                <div class="best_box"></div>
            </div>
            
            
        </div>
        <div style="display: flex; flex-direction: column;">
            <img src="../images/灌木丛.png" alt="" class="full_image" style="
                /* position: absolute; */
                /* translate: 0px -20vw; */
                pointer-events: none;
            ">
            <div class="green_back" style="
                position: absolute;
                height: 80vh;
                width: 100%;
                z-index: -10;
                translate: 0px -50vh;
                outline: red solid 1px;
            "></div>
        </div>
    </section>

    

    


    <footer style="
        /* translate: 0px -6vw; */
        margin-top: -5vw;
    ">
        <div style="
            display: flex;
        ">
            <img src="../images/U·PICK.png" alt="" style="
                width: 300px;
                height: 60px;
            ">
            <div style="
                display: flex;
                color: #C76642;
                gap: 30px;
                margin-left: 70px;
            ">
                <div style="
                    display: flex;
                    flex-direction: column;
                ">
                    <h3>Category</h3>
                    <p>Best Seller</p>
                    <p>Gifts</p>
                    <p>Wearable</p>
                    <p>Scriptus</p>
                </div>

                <div style="
                    display: flex;
                    flex-direction: column;
                ">
                    <h3>Shipping</h3>
                    <p>Delivery method</p>
                    <p>Time & cost</p>
                    <p>Order tracking</p>
                </div>

                <div style="
                    display: flex;
                    flex-direction: column;
                ">
                    <h3>Contact us</h3>
                </div>

                <div style="
                    display: flex;
                    flex-direction: column;
                    width: 200px;
                ">
                    <h3>More pick for you</h3>
                    <p>Subscribe to be first to know about new collections and special offers</p>
                    <div class="search"></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- <div style="height: 80px;"></div> -->
</body>
</html>