<head>
    <link rel="stylesheet" href="../static/css/index.css">
</head>


{% extends "base.html" %}

{% block title %}Home - U·PICK{% endblock %}

{% block content %}

    <section id="home" class="green_back" >
        <img src="../static/images/导航页.png" alt="" class="full_image">
    </section>

    <section id="bestSellers" class="green_back">
        <div style="
            padding: 50px;
            padding-bottom: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* outline: red solid 1px; */
        ">
            <!-- <div class="search"></div> -->
            <h2 class="beige">Best Sellers</h2>
            <div style="
                display: flex;
                gap: 30px;
                margin-bottom: 60px;
            ">
                {% for item in items %}
                <a href="/item/{{item.sku}}">
                    <div class="best_box red">
                        <div class="best_box_image">
                            <img style="width: 180px; object-fit:cover;" src="../static/item_images/{{item.image}}" alt="item image">
                            <!-- <img style="width: 180px; object-fit:cover;" src="../static/item_images/UP25AS00A.webp" alt="item image"> -->
                        </div>
                        <hr style="border: 1px solid var(--red);">
                        <h3>{{item.name}}</h3>
                    </div>
                </a>
                {% endfor %}
            </div>
            <a href="/items" class="best_button">View More</a>
        </div>
        <img src="../static/images/灌木丛.png" alt="" class="full_image" style="
            position: absolute;
            translate: 0px -13vw;
            pointer-events: none;
        ">
    </section>

    <section id="category" class="">
        <div style="
            padding: 50px;
            padding-bottom: 100px;
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* outline: red solid 1px; */
        ">
            <h2 class="red">CATEGORY</h2>
            <div style="
                display: flex;
                height: 400px;
                align-items: center;
            ">
                <a href="/items" class="category_images">
                    <img src="../static/images/画板 2.png" alt="">
                </a>
                <a href="/items" class="category_images">
                    <img src="../static/images/画板 1.png" alt="">
                </a>
                <a href="/items" class="category_images">
                    <img src="../static/images/画板 3.png" alt="">
                </a>
                
            </div>
        </div>
    </section>

    <section id="newPicks" style="line-height: 0;">
        <img src="../static/images/底图 1.png" alt="" class="full_image">
    </section>

{% endblock %}