<head>
    <link rel="stylesheet" href="../static/css/index.css">
</head>


{% extends "base.html" %}

{% block title %}Items - U·PICK{% endblock %}

{% block content %}

    <section style="
        /* height: 1000px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 25px;
    ">
        <div class="red" style="
                display: flex;
                justify-content: space-between;
                gap: 30px;
                
                width: 940px;
            ">
                <div style="
                    display: flex;
                    flex-direction: column;
                ">
                    <h3>New Available</h3>
                    <div style="margin-left: 15px;">
                        <p>All</p>
                        <p>Gifts</p>
                        <p>Wearable</p>
                        <p>Scriptus</p>
                    </div>
                </div>

                <div style="
                    display: flex;
                    flex-direction: column;
                ">
                    <h3>Sale</h3>
                    <div style="margin-left: 15px;">
                        <p>All</p>
                        <p>Gifts</p>
                        <p>Wearable</p>
                        <p>Scriptus</p>
                    </div>
                </div>

                <div style="
                    display: flex;
                    flex-direction: column;
                ">
                    <h3>Gifts</h3>
                    <div style="margin-left: 15px;">
                        <p>All</p>
                        <p>Gifts</p>
                        <p>Wearable</p>
                        <p>Scriptus</p>
                    </div>
                </div>

                <div style="
                    display: flex;
                    flex-direction: column;
                    width: 200px;
                ">
                    <h3>Wearables</h3>
                    <div style="margin-left: 15px;">
                        <p>All</p>
                        <p>Gifts</p>
                        <p>Wearable</p>
                        <p>Scriptus</p>
                    </div>
                </div>
            </div>
    </section>

    <section style="
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    ">
        {% if (user != "null" and user["role"] == 1) %}
            <a class="button2 red" style="width: 200px;" href="/add">Add item</a>
        {% endif %}
    </section>

    <section style="
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    ">
        <div style="
            margin-top: 30px;
            margin-bottom: 300px;
            display: flex;
            flex-wrap: wrap;
            
            gap: 20px; 
            width: 940px;
        ">
            {% for item in items %}
            <div class="red">
                <div class="item_box" style="
                    background-color: rgb(214, 214, 214);
                    display: flex;
                    justify-content: center;
                    overflow: hidden;

                    border-radius: 10px;
                ">
                    <!-- <img src="../static/item_images/UP25AS00A.webp" alt="item image"> -->
                    <a style="
                        display: flex;
                        justify-content: center;
                    " href="/item/{{item.sku}}">
                        <img src="/static/item_images/{{item.image}}" alt="item image">
                    </a>
                </div>
                <a href="/item/{{item.sku}}" class="red">
                    <h3 style="
                        margin-bottom: 5px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 300px;
                    ">
                        {{item.name}}
                    </h3>
                </a>
                <p style="font-size: 12px;">{{item.category}}</p>
                <p style="margin-top: 10px;">${{item.price}}</p>
            </div>
            {% endfor %}
            
        </div>


    </section>


{% endblock %}